<section class="form-wrapper">

  <%# Product Logo & Name %>
  <%= render "shared/logo" %>

  <%# Form %>
  <div class="form-layout">

    <%# Heading %>
    <h1 class="form-header">Resend confirmation instructions</h1>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="mt-4 space-y-4 lg:mt-5 md:space-y-5">

        <%# Validation Error Messages %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%# Email %>
        <div class="field">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email,
            autocomplete: "email",
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            class: "form-input"
          %>
        </div>

        <%# Submit %>
        <div class="actions">
          <%= f.submit "Resend confirmation instructions", data: {turbo_submits_with: "Sending..."}, class: "form-submit" %>
        </div>
      </div>
    <% end %>

    <hr class="divider">

    <%# resources %>
    <%= render "devise/shared/links" %>
  </div>
</section>