<div>
  <h1 class="font-bold text-2xl mb-3">Editing Task</h1>

  <turbo-frame id="<%= dom_id @task %>">
    <div class="grid w-full">
      <%# Validation Error Messages %>
      <%= render "devise/shared/error_messages", resource: @task %>

      <%= form_with(model: @task, class:"flex justify-between items-center gap-5") do |form| %>
        <%= form.text_field :description, autofocus: true, class: "form-input" %>

        <%# Save %>
        <span class="flex gap-5">
          <%= button_tag type: "submit" do %>
            <%= render "shared/svg/check_mark", classes: "size-5 md:size-6 lg:size-7 stroke-primary-500 hover:stroke-primary-700" %>
          <% end %>

          <%# Close button %>
          <%= link_to "" do  %>
            <%= render "shared/svg/x_mark", classes: "size-5 md:size-6 lg:size-7 stroke-secondary-500 hover:stroke-secondary-700 dark:stroke-secondary-200  dark:hover:stroke-secondary-400"  %>
          <% end %>
        </span>
      </div>
    <% end %>
  </turbo-frame>
</div>
