<div>
  <h1 class="font-bold text-2xl mb-3">Editing Task</h1>

  <turbo-frame id="<%= dom_id @task %>">
    <%= form_with(model: @task, class:"flex justify-center items-center gap-2 md:gap-5") do |form| %>
      <%= form.text_field :description, autofocus: true, placeholder: "Add new task", class: "w-48 md:w-96  px-2 md:px-3 py-2 shadow rounded-md border border-gray-200 outline-none text-sm md:text-base" %>

      <%# Save %>
      <span class="flex gap-5">
        <%= button_tag type: "submit" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" class="stroke-cyan-500 hover:stroke-cyan-700 size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        <% end %>

        <%# Close button %>
        <%= link_to "" do  %>
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="stroke-gray-500 hover:stroke-gray-700  size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        <% end %>
      </span>
    <% end %>
  </turbo-frame>
</div>
