<section class="form-wrapper">

  <%# Product Logo & Name %>
  <%= render "../shared/links.html.erb" %>

  <%# Form %>
  <div class="form-layout">
      <%# Heading %>
      <h1 class="form-header">Resend unlock instructions</h1>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <div class="space-y-4 md:space-y-6">

          <%# Validation Error Messages %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <%# Email %>
          <div class="field">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autocomplete: "email", placeholder: "name@company.com", class: "form-input" %>
          </div>

          <%# Submit %>
          <div class="actions">
            <%= f.submit "Resend unlock instructions", data: {turbo_submits_with: "Sending..."}, class: "form-submit" %>
          </div>
        </div>
      <%  end %>

      <hr class="divider">

      <%# Other resources %>
      <%= render "devise/shared/links" %>
  </div>
</section>