<section class="form-wrapper">

  <%# Product Logo & Name %>
  <%= render "shared/logo" %>

  <%# Form %>
  <div class="form-layout">

    <%# Heading %>
    <div class="space-y-2">
      <h1 class="form-header">Forgot your password?</h1>

      <p class="font-light text-gray-500 dark:text-gray-400">Don't fret! Just type in your email and we will send you a link to reset your password!</p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="mt-4 space-y-4 lg:mt-5 md:space-y-5">

        <%# Validation Errors %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%# Email %>
        <div class="field">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "name@company.com", class: "form-input" %>
        </div>

        <%# Submit %>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", data: {turbo_submits_with: "Sending..."}, class: "form-submit" %>
        </div>
      </div>
    <% end %>

    <hr class="divider">

    <%= render "devise/shared/links" %>
  </div>
</section>