<section class="grid gap-20 md:gap-28 justify-items-center items-center text-center py-5 px-4 lg:py-16 lg:px-12">
  <%# Header %>
  <div class="flex items-center text-4xl font-semibold text-primary-950 dark:text-white">
    <%= image_tag("logo.png", class: "w-12 h-12 mr-2", alt: "logo") %>
    <h1 class="tracking-wide">TickityTick</h1>
  </div>

  <%# Header Content %>
  <div class="space-y-7 lg:space-y-14 tracking-wide">
    <%# Heading %>
    <h2 class="text-4xl font-bold text-secondary-600 md:text-5xl lg:text-6xl dark:text-secondary-100">
      <span class="relative whitespace-nowrap text-primary-900 dark:text-primary-400">
      <%= render "shared/svg/scribble_underline"%>
        <span class="relative">Focus</span>
      </span>
      on What Matters.
      <br>
      <span class="relative whitespace-nowrap text-primary-900 dark:text-primary-400">
      <%= render "shared/svg/scribble_underline"%>
        <span class="relative">Capture</span>
      </span>
      Tasks Quickly.
    </h2>

    <%# Description %>
    <p class="max-w-screen-md xl:max-w-screen-lg text-xl font-normal text-secondary-900/90 lg:text-2xl sm:px-16 xl:px-48 dark:text-secondary-50">
      A distraction-free task manager designed to help you capture fleeting ideas without breaking your focus.
    </p>
  </div>

  <%# CTA %>
  <%= render "cta" %>

  <%# User count %>
  <h2 class="text-3xl italic md:text-4xl font-bold leading-relaxed tracking-wide text-primary-700/90 dark:text-primary-300/90">
    Trusted by 50+ users worldwide
  </h2>

  <%# Testimonials %>
  <div class="max-w-screen-lg mx-auto text-center space-y-10 lg:space-y-14">
    <%# headings %>
    <hgroup class="space-y-5">
      <h1 class="text-lg md:text-xl lg:text-2xl font-extralight text-primary-950 dark:text-primary-200 uppercase">Testimonials</h1>
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-primary-950 dark:text-primary-300">What our happy users say 📢</h2>
    </hgroup>

    <%# main content %>
    <figure class="rounded-lg shadow-xl dark:shadow-lg border border-secondary-600/20 shadow-secondary-600/40 dark:shadow-secondary-300/25 max-w-screen-md mx-auto px-6 md:px-12 lg:px-16 py-10 lg:py-12 bg-secondary-100/70 dark:bg-gray-800">
    <%= render "shared/svg/double_opening_quotation" %>

      <div class="grid gap-2 mt-5 md:mt-2">
        <%# Stars %>
        <div class="flex justify-center items-center my-4 text-yellow-300">
          <%= render "shared/svg/five_stars" %>
        </div>
        <%# Text %>
        <blockquote>
            <p class="indent-8 sm:indent-16 md:indent-20 lg:indent-28 text-start text-lg md:text-xl lg:text-2xl text-secondary-950 dark:text-secondary-100 leading-10 tracking-normal md:tracking-wider">
              "This is a
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600 dark:from-secondary-400 dark:to-primary-600">lifesaver</span>.
              New ideas and tasks pop into my head constantly. Before, I'd scramble for my phone, inevitably getting sucked into social media and losing focus. Now, I can quickly add tasks from my desktop without breaking my flow. It's
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600 dark:from-secondary-400 dark:to-primary-600">simple</span>,
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600 dark:from-secondary-400 dark:to-primary-600">distraction-free</span>,
              and keeps me on top of everything. Plus, it's free! I highly
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600 dark:from-secondary-400 dark:to-primary-600">recommend</span>
              it for anyone who wants to stay
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600 dark:from-secondary-400 dark:to-primary-600">focused</span>
              and
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600 dark:from-secondary-400 dark:to-primary-600"> organized</span>."
            </p>
        </blockquote>
        <%# Logo, name, designation %>
        <figcaption class="flex items-center justify-center mt-6 space-x-3">
            <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
            <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                <div class="pr-3 font-bold text-lg tracking-wider text-primary-900 dark:text-primary-50">Murtaza Basrai</div>
                <div class="pl-3 text-base font-light text-secondary-800 dark:text-secondary-50">CEO at Mozrai</div>
            </div>
        </figcaption>
      </div>
    </figure>
  </div>

  <%# CTA %>
  <%= render "cta" %>
</section>
